html,
body,
#root {
	width: 100vw;
	height: 100vh;

	color-scheme: dark;
}

.app {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 100px;

	font-family: 'system-ui';

	width: 100%;
	height: fit-content;
}

.component {
	display: flex;
	justify-content: center;
	gap: 100px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container h1 {
	text-align: center;
	color: hsla(200, 0%, 50%, 0.25);

	width: 100%;
}

.content {
	box-sizing: border-box;

	position: relative;

	outline: 10px solid hsla(200, 0%, 50%, 0.25);

	width: 300px;
	height: 150px;

	padding: 0;
	margin: 0;
}

.wrapper {
	display: flex;
	padding: 8px;
	margin: 0;

	outline: 1px solid green;
}

.wrapper p {
	box-sizing: border-box;

	padding: 0;
	margin: 0;

	/* outline: 1px solid blue; */
}

.test h1 {
	color: hsla(200, 25%, 50%, 0.25);
}

.test .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	outline-color: hsla(200, 25%, 50%, 0.25);
}

.test textarea {
	border: none;

	font-size: 16px;

	width: 90%;
	height: 80%;

	resize: none;
}

.test textarea:focus {
	outline: none;
}
