html,
body,
#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	color-scheme: dark;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;

	font-family: 'system-ui';

	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container h1 {
	text-align: center;
	color: hsl(200, 50%, 88%);

	width: 100%;
}

.content {
	position: relative;

	border: 10px solid hsl(200, 50%, 92%);

	width: 300px;
	height: 150px;
}

.test h1 {
	color: hsl(200, 0%, 88%);
}

.test .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-color: hsl(200, 0%, 92%);
}

.test textarea {
	border: none;

	font-size: 16px;

	width: 100%;
	height: 100%;

	resize: none;
}

.test textarea:focus {
	outline: none;
}
