.tooltip,
.tooltip * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.tooltip {
	--copy-tooltip-background: hsl(0, 0%, 25%);

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: system-ui;
	font-size: 12px;
	line-height: 1;
	color: white;

	background-color: var(--copy-tooltip-background);
	border-radius: 6px;

	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);

	width: fit-content;
	min-height: 20px;

	padding: 0.35rem 0.5rem;

	transition: all 1s ease-out;
}
