.block,
.block * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.block {
	--copy-block-size: 32px;
	--copy-block-space: calc(var(--copy-block-size) * 1 / 3);

	--copy-block-button-size: calc(var(--copy-block-size) + var(--copy-block-space));

	position: relative;

	display: flex;
	align-items: center;

	width: 100%;
	height: fit-content;
	min-width: calc(var(--copy-block-button-size) * 2);
	min-height: var(--copy-block-button-size);

	padding: var(--copy-block-space);
}
