.button {
	--size: 36px;
	--space: calc(var(--size) * 0.25);

	--icon-size: calc(var(--size) * 3 / 5);

	--timeout: 2000ms;
	--transition-speed: calc(var(--timeout) / 10);

	--blur: 24px;

	box-sizing: border-box;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	background: none;
	border: none;
	border-radius: 6px;

	backdrop-filter: blur(var(--blur));

	width: var(--size);
	height: var(--size);
	min-width: var(--size);
	min-height: var(--size);

	padding: 0;
	margin: 0 0 auto auto;
}

.button:hover {
	cursor: pointer;
	background: light-dark(hsla(0, 0%, 0%, 0.06), hsla(0, 0%, 100%, 0.04));
}

.icon {
	position: absolute;

	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: currentColor;
	fill: transparent;

	color: light-dark(hsla(0, 0%, 75%), hsla(0, 0%, 33%));

	width: var(--icon-size);
	height: var(--icon-size);

	transition: opacity var(--transition-speed) ease-out;
}

.button:hover .ready {
	color: light-dark(hsla(0, 0%, 50%), hsla(0, 0%, 66%));
}

.button:hover .icon {
	transition-delay: var(--transition-speed);
}

.button[data-status='COPIED'] .ready {
	opacity: 0.1;
	transition-delay: 0s;
}

.status {
	stroke-width: 2.5px;

	stroke-dasharray: 100;
	stroke-dashoffset: 0;

	animation: draw var(--timeout) ease-out;
}

.copied {
	color: green;
}

.error {
	color: red;
	animation-direction: reverse;
}

.error:nth-of-type(2n) {
	animation-delay: calc(var(--transition-speed) / 2);
}

.tooltip {
	position: absolute;
	top: 0;
	right: 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	pointer-events: none;

	font-size: 12px;
	font-weight: 500;

	color: light-dark(hsla(0, 0%, 50%), hsla(0, 0%, 66%));
	background: light-dark(hsla(0, 0%, 0%, 0.06), hsla(0, 0%, 100%, 0.04));
	backdrop-filter: blur(var(--blur));
	border-radius: 0.5em;

	height: var(--size);
	max-width: 0px;
	max-height: var(--size);

	padding: 0;
	margin: 0 4px 0 0;

	overflow: hidden;

	transition: all var(--transition-speed) ease-out;
}

.text {
	padding: var(--space);
}

.button:hover .tooltip {
	max-width: calc(var(--icon-size) * 3);
	transition-delay: var(--timeout);
}

@keyframes draw {
	from {
		stroke-dashoffset: 100;
	}

	10% {
		stroke-dashoffset: 200;
	}

	90% {
		stroke-dashoffset: 200;
	}

	to {
		stroke-dashoffset: 300;
	}
}
