.button {
	--copy-button-size: 32px;
	--copy-button-space: calc(var(--copy-button-size) * 1 / 6);

	--copy-icon-size: calc(var(--copy-button-size) * 2 / 3);

	--copy-button-timeout: 2000ms;
	--copy-button-transition-speed: calc(var(--copy-button-timeout) / 40);

	display: flex;
	justify-content: center;
	align-items: center;

	background: none;
	border: none;
	border-radius: 0.5em;

	width: var(--copy-button-size);
	height: var(--copy-button-size);

	padding: var(--copy-button-space);

	overflow: hidden;

	transition: all var(--copy-button-transition-speed) ease-out;

	outline: 1px solid red;
}

.button:hover {
	cursor: pointer;

	background-color: hsla(0, 0%, 50%, 0.1);
}

.active .button {
	animation: expand var(--copy-button-timeout) ease-out;
}

.icon {
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: currentColor;
	fill: transparent;

	color: hsla(0, 0%, 50%, 0.5);

	width: var(--copy-icon-size);
	height: var(--copy-icon-size);
}

.button:hover .icon {
	color: hsla(0, 0%, 50%, 0.75);
}

.path {
	opacity: 1;
	transition: all var(--copy-button-transition-speed) ease-out;
}

.button:hover .path {
	color: hsl(0, 0%, 65%);
	transition-delay: 0s;
}

.active .path {
	opacity: 0.1;
	transition-delay: var(--copy-button-transition-speed);
}

.status {
	stroke-width: 2.5px;

	stroke-dasharray: 100;
	stroke-dashoffset: 0;

	transition: all var(--copy-button-transition-speed) ease-out;
	animation: draw var(--copy-button-timeout) ease-out;
}

.copied {
	color: green;
}

.error {
	color: red;
	animation-direction: reverse;
}

.error:nth-of-type(2n) {
	animation-delay: calc(var(--copy-button-transition-speed) / 2);
}

@keyframes expand {
	from {
		width: var(--copy-button-size);
	}

	5% {
		width: 100%;
		max-width: fit-content;
	}

	90% {
		width: 100%;
		max-width: fit-content;
	}

	to {
		width: var(--copy-button-size);
	}
}

@keyframes draw {
	from {
		stroke-dashoffset: 100;
	}

	10% {
		stroke-dashoffset: 200;
	}

	80% {
		stroke-dashoffset: 200;
	}

	to {
		stroke-dashoffset: 300;
	}
}
