.container,
.container * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	--size: 32px;
	--icon-size: calc(var(--size) * 2 / 3);
	--component-size: calc(var(--size) + var(--space) * 2);

	--space: calc(var(--size) * 1 / 6);

	--timeout: 2000ms;
	--transition-speed: calc(var(--timeout) / 40);

	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--space);

	width: fit-content;
	height: var(--component-size);
	min-width: var(--component-size);

	padding: var(--space);
}

.button {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--space);

	background: none;
	border: none;
	border-radius: 0.25rem;

	width: var(--size);
	height: var(--size);

	padding: var(--space);

	overflow: hidden;

	transition: all var(--transition-speed) ease-out;
}

.button:hover {
	cursor: pointer;

	background-color: hsla(0, 0%, 0%, 0.05);
}

.active .button {
	animation: expand var(--timeout) ease-out;
}

.content {
	position: relative;
	right: 0;
	left: auto;

	display: flex;
	justify-content: center;
	align-items: center;

	width: fit-content;
	height: 100%;
}

.icon {
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: currentColor;
	fill: transparent;

	color: hsl(0, 0%, 80%);

	width: var(--icon-size);
	height: var(--icon-size);
}

.button:hover .icon {
	color: hsl(0, 0%, 76%);
}

.path {
	opacity: 1;
	transition: all var(--transition-speed) ease-out;
}

.button:hover .path {
	color: hsl(0, 0%, 65%);
	transition-delay: 0s;
}

.active .path {
	opacity: 0.2;
	transition-delay: var(--transition-speed);
}

.status {
	stroke-width: 2.5px;

	stroke-dasharray: 100;
	stroke-dashoffset: 0;

	transition: all var(--transition-speed) ease-out;
	animation: draw var(--timeout) ease-out;
}

.copied {
	color: green;
}

.error {
	color: red;
	animation-direction: reverse;
}

.error:nth-of-type(2n) {
	animation-delay: calc(var(--transition-speed) / 2);
}

@keyframes expand {
	from {
		width: var(--size);
	}

	5% {
		width: 100%;
		max-width: fit-content;
	}

	90% {
		width: 100%;
		max-width: fit-content;
	}

	to {
		width: var(--size);
	}
}

@keyframes draw {
	from {
		stroke-dashoffset: 100;
	}

	10% {
		stroke-dashoffset: 200;
	}

	80% {
		stroke-dashoffset: 200;
	}

	to {
		stroke-dashoffset: 300;
	}
}
